section.sectionListaPerfiles{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  
}
ul.listaPerfiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
  }
  
  ul.listaPerfiles li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background-color: #f5f5f5;
    justify-content: center;
    border-radius: 10px;
    height: 250px;
    width: 300px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    text-overflow: ellipsis;
  }
  main.dark ul.listaPerfiles li{
    background-color: #405155;
  }
  ul.listaPerfiles li img{
    width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  }
  ul.listaPerfiles li p{
    text-align: center;
    padding: 1%;
  }
  ul.listaPerfiles li h2:hover{
    color:  rgb(147, 195, 207);
  }
  
  
